<div class="flex border-t items-center border-gray-400 px-3 md:px-16 lg:px:32">
  {{play-pause-toggle play=(action "play") pause=(action "pause") bubbles=false}}
  <time class="inline-block font-normal text-gray-800 pl-4 pr-2 sm:px-3 lg:px-4 whitespace-no-wrap">{{player.currentTime}}</time>
  <div class="flex flex-col xs:flex-row items-center w-full">
    <div class="whitespace-no-wrap pr-2 lg:pr-4">
      <span class="text-xs md:text-base font-semibold text-orange-300 hover:text-orange-200">{{player.title}}</span>
    </div>
    <div class="whitespace-no-wrap font-light text-xs sm:text-sm md:text-base text-gray-600 hover:text-black">
      <time class="hidden sm:inline-block" datetime={{player.releaseDate}}>{{player.releaseDate}}</time>
      <time class="inline-block sm:hidden" datetime={{player.releaseDate}}>{{player.shortReleaseDate}}</time>
    </div>
  </div>
</div>
<div class="h-2 absolute top-0 left-0 bg-orange-100 cursor-pointer" style={{bufferStyle}}></div>
<div class="h-2 absolute top-0 left-0 bg-orange-300 cursor-pointer" style={{progressStyle}}>
  {{play-head dragging=draggingPlayhead position=playheadPosition}}
</div>
{{track-bar class="w-full h-2 absolute top-0 left-0 cursor-pointer" drag=(action "dragTrack") seekTo=(action "seekTo") dragging=draggingPlayhead}}
