- if isShow
  - link-to "root.blog" classNames="back"
    = fa-icon "fa-angle-left"
    All posts

%h1
  -if isShow
    = post.title
  - else
    - link-to "root.blog.show" post.id
      = post.title
%h2
  = post.publishedAt
  by
  = post.author
.body
  {{{ post.body }}}
