<div class="m-4">
  <PlayPauseToggle
    @play={{action "play" @episode}}
    @pause={{action "pause"}}
    @playing={{eq @episode this.player.playingEpisode}}
    @style="orange"
    />
</div>

{{#link-to "episodes.show" @episode class="details flex min-w-0 flex-1"}}

  <div class="flex-auto py-4 min-w-0">
    <h1 class="text-orange-300 font-bold truncate" data-test-episode-list-item-title>{{@episode.title}}</h1>
    <p class="text-gray-700 text-xs whitespace-no-wrap">
      Episode {{@episode.number}}
      &bull;
      <span class="inline-block md:hidden lg:inline-block">
        {{@episode.prettyReleaseDate}}
      </span>
      <span class="hidden md:inline-block lg:hidden">
        {{@episode.shortPrettyReleaseDate}}
      </span>
    </p>
  </div>

  {{fa-icon "angle-right" class="text-3xl text-gray-500 ml-2 mr-4 self-center self-end"}}

{{/link-to}}