<div class="w-full h-full sm:h-full flex bg-gray-150 border-r border-gray-400">
  <div class="flex sm:flex-col p-5 justify-center">

    <PlayPauseToggle
      @play={{action "play" @episode}}
      @pause={{action "pause"}}
      @playing={{eq @episode this.player.playingEpisode}}
      @style="orange"
      />

    <div class="ml-4">
      <h1 class="mt-3 mb-1 font-bold text-black text-center" data-test-episode-header-title>{{@episode.title}}</h1>
      <p class="text-sm font-light text-center">
        Episode {{@episode.number}}
        <span class="inline-block sm:hidden"> &bull; </span>
        <span class="inline-block sm:hidden lg:block">{{@episode.prettyReleaseDate}}</span>
        <span class="hidden sm:block lg:hidden">{{@episode.shortPrettyReleaseDate}}</span>
      </p>
    </div>
  </div>
</div>