<img alt="picture of {{name}}" src={{avatarURL}}>
<div class="guest_bio">
  <h3>Our Guest this Weekend</h3>
  <h1>
    <a href={{guestInfoURL}} rel="noopener" target="_blank">{{name}}</a>
  </h1>
  <p>{{tagLine}}</p>
  <p class="bio">{{bio}}</p>
</div>
