<img alt="picture of {{@guest.name}}" src={{@guest.avatarURL}} class="rounded-lg mr-6 w-48 h-auto xs:w-28 sm:h-48 sm:w-auto md:self-start" data-test-guest-image>
<div class="flex flex-col items-center sm:items-start">
  <h3 class="uppercase text-gray-700 text-xs font-bold mt-4 mb-2">Our Guest this Weekend</h3>
  <h1 class="text-lg font-bold ">
    <a class="text-orange-250" href={{@guest.guestInfoURL}} rel="noopener" target="_blank" data-test-guest-name>{{@guest.name}}</a>
  </h1>
  <p class="mb-4 font-thin text-center sm:text-left" data-test-guest-tagline>{{@guest.tagLine}}</p>
  <p class="font-thin text-sm text-center sm:text-left" data-test-guest-bio>{{@guest.bio}}</p>
</div>
