%main#episode
  %ul.sections
    = guest-item name="Sam Selikoff" guestInfoURL="https://twitter.com/samselikoff" avatarURL="assets/images/sam-selikoff.jpg" tagLine="Frontend Developer at TED" bio="I'm a front-end web developer at TED interested in JavaScript, data visualization and economics"

    = guest-item name="Robert Jackson" guestInfoURL="https://twitter.com/rwjblue" avatarURL="assets/images/robert-jackson.jpg" tagLine="Ember core team  member and Frontend Developer at Aptible" bio="Robert is an Ember.js core team member, and general open source addict. Outside of Aptible, Robert enjoys spending time with his wife and two rambunctious boys. He is @rwjblue on the web."

    = guest-item name="Dan McClain" guestInfoURL="https://twitter.com/_danmcclain" avatarURL="assets/images/dan-mcclain.jpg" tagLine="Dan is a partner and lead developer at DockYard." bio="He has been working on web applications for the past 7 years, starting with .Net, then later working with Rails. As of recent, DockYard has bet the company on Ember and Elixir, where Dan develops rich client applications for their clients."

    = guest-item name="Robert Deluca" guestInfoURL="https://twitter.com/robdel12" avatarURL="assets/images/robert-deluca.jpg" tagLine="JavaScript Developer at The Frontside" bio="Robert is a JavaScript developer at The Frontside in Austin, Texas. He’s a full-time Ember developer and has a personal dedication to accessibility on the web."

    = guest-item name="Paul Elliott" guestInfoURL="https://twitter.com/p_elliott" avatarURL="assets/images/paul-elliott.jpg" tagLine="Lead Engineer on the Human Interface Team (HIT) at Heroku" bio="Paul is one of the engineers working on the Heroku Dashboard, which is an ember-cli app running on the Heroku platform. The team is distributed and does almost exclusively ember development, focusing on application architecture and new features."
