= episode-header episode=this

-note-list
  -note-item
    #{seek-to time="01:33" episode=this} -
    -github-link username="ebryn" repo="ember-turbolinks"
      Ember Turbolinks
    %span
      by #{twitter-user username="ebryn"}
  -note-item
    #{seek-to time="03:02" episode=this} -
    -github-link username="broccolijs" repo="broccoli"
      Broccoli
    %span
      by #{github-link username="joliss"}
  -note-item
    #{seek-to time="10:07" episode=this} -
    -github-link username="abuiles" repo="ember-watson"
      Ember Watson
    %span
      by #{twitter-user username="abuiles"}
  -note-item
    #{seek-to time="13:23" episode=this} -
    -link-to-site href="http://ember.land/"
      Ember Land Podcast
    %span
      by #{twitter-user username="rwjblue"} and #{twitter-user username="_danmcclain"}

