- episode-show episode=model
  -note-list

    -note-item time="01:33"
      -github-link username="ebryn" repo="ember-turbolinks"
        -external-title
          Ember Turbolinks
      %p
        by #{twitter-user username="ebryn"}
    -note-item time="03:02"
      -github-link username="broccolijs" repo="broccoli"
        -external-title
          Broccoli
      %p
        by #{github-link username="joliss"}
    -note-item time="10:07"
      -github-link username="abuiles" repo="ember-watson"
        -external-title
          Ember Watson
      %p
        by #{twitter-user username="abuiles"}
    -note-item time="13:23"
      -link-to-site href="http://ember.land/"
        -external-title
          Ember Land Podcast
      %p
        by #{twitter-user username="rwjblue"} and #{twitter-user username="_danmcclain"}

