-note-item time="01:33" episode=episode
  -github-link username="ebryn" repo="ember-turbolinks"
    -external-title
      Ember Turbolinks
  %p
    by #{twitter-user username="ebryn"}

-note-item time="03:02" episode=episode
  -github-link username="broccolijs" repo="broccoli"
    -external-title
      Broccoli
  %p
    by #{github-link username="joliss"}

-note-item time="10:07" episode=episode
  -github-link username="abuiles" repo="ember-watson"
    -external-title
      Ember Watson
  %p
    by #{twitter-user username="abuiles"}

-note-item time="13:23" episode=episode
  -link-to-site href="http://ember.land/"
    -external-title
      Ember Land Podcast
  %p
    by #{twitter-user username="rwjblue"} and #{twitter-user username="_danmcclain"}

