-episode-show episode=model
  -note-list
    -note-item time="00:11"
      -link-to-site href="https://twitter.com/emberweekend"
        -external-title
          Ember Weekend Twitter Account
      %p
        by Us

    -note-item time="00:58"
      -link-to-site href="https://github.com/emberjax/ember-weekend"
        -external-title
          Ember Weekend media player
      %p
        by Us

    -note-item time="02:45"
      -link-to-site href="https://github.com/emberjs/rfcs/pull/38"
        -external-title
          Routable Components RFC
      %p
        by #{twitter-user username="eaf4" displayName="Edward Faulkner"}

    -note-item time="07:13"
      -link-to-site href="http://www.meetup.com/EmberJax/events/221439735/"
        -external-title
          EmberJax builds a blog
      %p
        by #{twitter-user username="ember_jax" displayName="Ember Jax"}

    -note-item time="09:12"
      -link-to-site href="https://github.com/samselikoff/ember-cli-mirage"
        -external-title
          Ember CLI Mirage
      %p
        by #{twitter-user username="samselikoff" displayName="Sam Selikoff"}

    -note-item time="12:12"
      -link-to-site href="http://jsonapi.org/"
        -external-title
          JSON API
      %p
        by
        #{twitter-user username="steveklabnik" displayName="Steve Klabnik"},
        #{twitter-user username="wycats" displayName="Yehuda Katz"},
        #{twitter-user username="dgeb" displayName="Dan Gebhardt"},
        #{twitter-user username="tkellen" displayName="Tyler Kellen"}
