{{#episode-show episode=this.episode}}
  {{#note-list}}
    {{#each this.episode.guests as |guest|}}
      <GuestItem @guest={{guest}} />
    {{/each}}
    {{#each this.showNotes as |note|}}
      <NoteItem @time={{note.timeStamp}} @episode={{this.episode}} data-test-note-item>
        {{#if note.resource.url}}
          <LinkToSite @href={{note.resource.url}} data-test-note-link>
            {{#external-title class="text-sm font-bold"}}
              {{note.title}}
            {{/external-title}}
          </LinkToSite>
        {{else}}
          <h1 class="text-sm font-bold" data-test-note-title>
            {{note.title}}
          </h1>
        {{/if}}
        <p class="text-sm font-thin">
          {{#each note.resource.authors as |author|}}
            by
            {{#if author.url}}
              {{#link-to-site href=author.url class="text-orange-200"}}
                {{author.name}}
              {{/link-to-site}}
            {{else}}
              {{author.name}}
            {{/if}}
          {{/each}}
        </p>
      </NoteItem>
    {{/each}}
  {{/note-list}}
{{/episode-show}}
