{{#episode-show episode=episode}}
  {{#note-list }}
    {{#each episode.guests as |guest|}}
      {{guest-item name=guest.name guestInfoURL=guest.guestInfoURL avatarURL=guest.avatarURL tagLine=guest.tagline bio=guest.bio}}
    {{/each}}
    {{#each showNotes as |note|}}
      {{#note-item time=note.timeStamp episode=episode}}
        {{#if note.resource.url}}
          {{#link-to-site href=note.resource.url}}
            {{#external-title}}
              {{note.title}}
            {{/external-title}}
          {{/link-to-site}}
        {{else}}
          <h1>
            {{note.title}}
          </h1>
        {{/if}}
        <p>
          {{#each note.resource.authors as |author|}}
            by
            {{#if author.url}}
              {{#link-to-site href=author.url}}
                {{author.name}}
              {{/link-to-site}}
            {{else}}
              {{author.name}}
            {{/if}}
          {{/each}}
        </p>
      {{/note-item}}
    {{/each}}
  {{/note-list}}
{{/episode-show}}
