= episode-header episode=this

-note-list

  -note-item
    #{seek-to time="00:20"} -
    -link-to-site href="http://guides.emberjs.com/v1.11.0/"
      Ember.js Versioned Guides
    %span
      by #{twitter-user username="trek"}

  -note-item
    #{seek-to time="01:38"} -
    -link-to-site href="https://gist.github.com/code0100fun/6f87155564ccf3724749"
      Custom QUnit Assertions

  -note-item
    #{seek-to time="03:38"} -
    -github-link username="samselikoff" repo="ember-cli-mirage"
      EmberCLI Mirage
    %span
      by
      -github-link username="samselikoff"
        Sam Selikoff

  -note-item
    #{seek-to time="06:20"} -
    -link-to-site href="https://gist.github.com/code0100fun/f5922b6f44eee2abc21d"
      Testing a Component with an Optional Block

  -note-item
    #{seek-to time="08:06"} -
    -github-link username="kategengler" repo="ember-try"
      Ember Try
    %span
      by
      -github-link username="kategengler"
        Katie Gengler

  -note-item
    #{seek-to time="11:03"} -
    -link-to-site href="http://reefpoints.dockyard.com/2015/03/24/rubyists-guide-to-ember-dependencies.html"
      Rubyist Guide To Ember Dependencies
    %span
      by #{twitter-user username="michaeldupuisjr"}

