{{head-layout}}
<header>
  <div class="container">
    <h1>
      {{#link-to "episodes"}}
        <img src="/assets/images/site-header-logo-emberweekend.svg">
      {{/link-to}}
    </h1>
    <nav>
      <a href="/feed.xml" target="_blank" rel="nofollow">
        {{fa-icon "fa-rss"}}
      </a>
      {{#link-to "about"}}
        {{fa-icon "fa-info"}}
      {{/link-to}}
      <a href="/blog" target="_blank">
        {{fa-icon "fa-book" }}
      </a>
    </nav>
  </div>
</header>
<main>
  {{liquid-outlet class="wrapper"}}
</main>
<footer>
  {{audio-player}}
</footer>
