{{head-layout}}

<header data-test-header class="z-20">
  {{animated-tools}}
  <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-2 md:px-24">
    <div class="flex items-center flex-shrink-0 text-white mr-2">
      {{#link-to "episodes" data-test-logo}}
        <img class="fill-current h-8 w-32 mr-2" alt="ember weekend logo" src="/assets/images/site-header-logo-emberweekend.svg">
      {{/link-to}}
    </div>
    <div class="flex-grow flex items-center">
      <div class="flex-grow">
      </div>
      <div class="nav-buttons">
        <a href="/feed.xml" class="block mt-0 inline-block text-center text-xl text-gray-700 hover:text-white mr-1 bg-gray-600 hover:bg-orange-275 w-8 h-8 rounded-full" target="_blank" rel="nofollow noopener" data-test-feed>
          {{fa-icon "fa-rss"}}
        </a>
        {{#link-to "about" class="block mt-0 inline-block text-center text-xl text-gray-700 hover:text-white mr-1 bg-gray-600 hover:bg-orange-275 w-8 h-8 rounded-full" data-test-about=""}}
          {{fa-icon "fa-info"}}
        {{/link-to}}
        <a href="/blog" class="block mt-0 inline-block text-center text-xl text-gray-700 hover:text-white bg-gray-600 hover:bg-orange-275 w-8 h-8 rounded-full" rel="noopener" target="_blank" data-test-blog>
          {{fa-icon "fa-book" }}
        </a>
      </div>
    </div>
  </nav>
</header>

<div style="position: absolute; top: 0; left: 0;">
  {{animated-orphans}}
</div>

<main class="flex-1 overflow-auto mb-19 bg-gray-200">
  {{outlet}}
</main>

<footer class="fixed bottom-0 w-full bg-white z-20" data-test-footer>
  {{audio-player}}
</footer>
